//
   Created by applepham on 2014-12-28.
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title ADOA demo mockup
    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    link(rel="stylesheet", href="/styles/bootstrap.css")
    link(rel="stylesheet", href="/styles/component.css")
    link(rel="stylesheet", href="/styles/font-awesome.css")
    link(rel="stylesheet", href="/styles/fonts.css")
    link(rel="stylesheet", href="/styles/metro-slider.css")
    link(rel="stylesheet", href="/styles/prettyPhoto.css")
    link(rel="stylesheet", href="/styles/reset.css")
    link(rel="stylesheet", href="/styles/style.css")
    // STYLES END
    block style

  body
    block body

    block script
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/lib/jquery-2.1.1.min.js")
    script(src="/js/dependencies/lib/jquery.easing.js")
    script(src="/js/dependencies/lib/jquery.isotope.min.js")
    script(src="/js/dependencies/lib/jquery.prettyPhoto.js")
    script(src="/js/dependencies/lib/underscore-min.js")
    script(src="/js/dependencies/lib/modernizr.custom.js")
    script(src="/js/dependencies/lib/classie.js")
    script(src="/js/dependencies/lib/backbone-min.js")
    script(src="/js/dependencies/lib/boxesFx.js")
    script(src="/js/dependencies/lib/caroufredsel.js")
    script(src="/js/dependencies/lib/handlebars.runtime-v2.0.0.js")
    script(src="/js/dependencies/lib/metro-slider.js")
    script(src="/js/dependencies/lib/plugins.js")
    script(src="/js/dependencies/lib/portfolio.js")
    script(src="/js/dependencies/lib/tinyscrollbar.js")
    script(src="/templates.js")
    script(src="/js/app/controllers/index.js")
    script(src="/js/app/routes.js")
    // SCRIPTS END
