<div class="center">
  <div id="breadcrumb" class="center">
    <ul>
      <li><a href="">Home</a> </li>
      <li class="active">List Blogs</li>
    </ul>
  </div>
  <article id="col-left">
    <section id="list-article">
      <h2 class="title-list"> List <span class="main-color"> Blogs </span> </h2>
      <article class="blog-row clearfix">
        <div class="blog-left">
          <div class="ad_anim ad_anim-slide">
            <a class="ad_preview" href="#"> <img src="images/blog/01.jpg" alt="example image"> </a>
          </div>
        </div>
        <div class="blog-right clearfix">
          <div class="entry-date">
            <div class="day">28</div>
            <div class="month">Aug</div>
          </div>
          <div class="title">
            <h3> <a href="#details-single"> Starting a new business </a> </h3>
            <span class="comments"> <i class="fa fa-comments"> </i> 16 </span> <span class="taxonomy"> <i class="fa fa-tags"> </i> <a href="#"> Design </a>, <a href="#"> Creative </a> </span>
          </div>
          <div class="description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco laboris nisi ut aliquip ex... <a class="ad_read-more" href="#details-single"> read more </a> </p>
          </div>
        </div>
      </article>

      <article class="blog-row clearfix">
        <div class="blog-left">
          <div class="ad_anim ad_anim-slide">
            <a class="ad_preview" href="#"> <img src="images/blog/02.jpg" alt="example image"> </a>
          </div>
        </div>
        <div class="blog-right clearfix">
          <div class="entry-date">
            <div class="day">28</div>
            <div class="month">Aug</div>
          </div>
          <div class="title">
            <h3> <a href="#details-single"> Starting a new business </a> </h3>
            <span class="comments"> <i class="fa fa-comments"> </i> 16 </span> <span class="taxonomy"> <i class="fa fa-tags"> </i> <a href="#"> Design </a>, <a href="#"> Creative </a> </span>
          </div>
          <div class="description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco laboris nisi ut aliquip ex... <a class="ad_read-more" href="#details-single"> read more </a> </p>
          </div>
        </div>
      </article>

      <article class="blog-row clearfix">
        <div class="blog-left">
          <div class="ad_anim ad_anim-slide">
            <a class="ad_preview" href="#"> <img src="images/blog/03.jpg" alt="example image"> </a>
          </div>
        </div>
        <div class="blog-right clearfix">
          <div class="entry-date">
            <div class="day">28</div>
            <div class="month">Aug</div>
          </div>
          <div class="title">
            <h3> <a href="#details-single"> Starting a new business </a> </h3>
            <span class="comments"> <i class="fa fa-comments"> </i> 16 </span> <span class="taxonomy"> <i class="fa fa-tags"> </i> <a href="#"> Design </a>, <a href="#"> Creative </a> </span>
          </div>
          <div class="description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco laboris nisi ut aliquip ex... <a class="ad_read-more" href="#details-single"> read more </a> </p>
          </div>
        </div>
      </article>

      <article class="blog-row clearfix">
        <div class="blog-left">
          <div class="ad_anim ad_anim-slide">
            <a class="ad_preview" href="#"> <img src="images/blog/01.jpg" alt="example image"> </a>
          </div>
        </div>
        <div class="blog-right clearfix">
          <div class="entry-date">
            <div class="day">28</div>
            <div class="month">Aug</div>
          </div>
          <div class="title">
            <h3> <a href="#details-single"> Starting a new business </a> </h3>
            <span class="comments"> <i class="fa fa-comments"> </i> 16 </span> <span class="taxonomy"> <i class="fa fa-tags"> </i> <a href="#"> Design </a>, <a href="#"> Creative </a> </span>
          </div>
          <div class="description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco laboris nisi ut aliquip ex... <a class="ad_read-more" href="#details-single"> read more </a> </p>
          </div>
        </div>
      </article>

      <article class="blog-row clearfix">
        <div class="blog-left">
          <div class="ad_anim ad_anim-slide">
            <a class="ad_preview" href="#"> <img src="images/blog/02.jpg" alt="example image"> </a>
          </div>
        </div>
        <div class="blog-right clearfix">
          <div class="entry-date">
            <div class="day">28</div>
            <div class="month">Aug</div>
          </div>
          <div class="title">
            <h3> <a href="#details-single"> Starting a new business </a> </h3>
            <span class="comments"> <i class="fa fa-comments"> </i> 16 </span> <span class="taxonomy"> <i class="fa fa-tags"> </i> <a href="#"> Design </a>, <a href="#"> Creative </a> </span>
          </div>
          <div class="description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco laboris nisi ut aliquip ex... <a class="ad_read-more" href="#details-single"> read more </a> </p>
          </div>
        </div>
      </article>

      <article class="blog-row clearfix">
        <div class="blog-left">
          <div class="ad_anim ad_anim-slide">
            <a class="ad_preview" href="#"> <img src="images/blog/03.jpg" alt="example image"> </a>
          </div>
        </div>
        <div class="blog-right clearfix">
          <div class="entry-date">
            <div class="day">28</div>
            <div class="month">Aug</div>
          </div>
          <div class="title">
            <h3> <a href="#details-single"> Starting a new business </a> </h3>
            <span class="comments"> <i class="fa fa-comments"> </i> 16 </span> <span class="taxonomy"> <i class="fa fa-tags"> </i> <a href="#"> Design </a>, <a href="#"> Creative </a> </span>
          </div>
          <div class="description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco laboris nisi ut aliquip ex... <a class="ad_read-more" href="#details-single"> read more </a> </p>
          </div>
        </div>
      </article>

      <article class="blog-row clearfix">
        <div class="blog-left">
          <div class="ad_anim ad_anim-slide">
            <a class="ad_preview" href="#"> <img src="images/blog/01.jpg" alt="example image"> </a>
          </div>
        </div>
        <div class="blog-right clearfix">
          <div class="entry-date">
            <div class="day">28</div>
            <div class="month">Aug</div>
          </div>
          <div class="title">
            <h3> <a href="#details-single"> Starting a new business </a> </h3>
            <span class="comments"> <i class="fa fa-comments"> </i> 16 </span> <span class="taxonomy"> <i class="fa fa-tags"> </i> <a href="#"> Design </a>, <a href="#"> Creative </a> </span>
          </div>
          <div class="description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco laboris nisi ut aliquip ex... <a class="ad_read-more" href="#details-single"> read more </a> </p>
          </div>
        </div>
      </article>

    </section>
  </article>
  <article id="col-right">
    <div class="sidebar-widget widget block" id="ad_links-widget">
      <div class="ad_links-widget">
        <h3>Categories</h3>
        <div class="content">
          <ul class="ad_li">
            <li><a href="#">Drupal</a></li>
            <li><a href="#">Wordpress</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">Web Design</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="sidebar-widget widget block" id="ad_latest-portfolio-widget">
      <div class="ad_portfolio-widget">
        <h3 class="pull-left">
          Portfolio <span class="ad_main-color"> Widget </span>
        </h3>
        <div class="ad_carousel-control">
          <a href="#" style="display: block;" class=""> <i class="fa fa-chevron-left"> </i> </a> <a href="#" style="display: block;" class=""> <i class="fa fa-chevron-right"> </i> </a>
        </div>
        <div class="clearfix"></div>
        <div class="ad_carousel-wrap">
          <div class="ad_carousel clearfix" >
            <div class="ad_carousel-column">
              <div class="ad_anim ad_anim-slide"> <a class="ad_preview" href="#details-single"> <img src="images/portfolio/04.jpg" alt="example image"> </a>
                <div class="ad_hover">
                  <div class="hover-wrapper">
                    <div class="text-wrapper">
                      <h4> Example 4 </h4>
                    </div>
                    <div class="icon-wrapper">
                      <ul>
                        <li class="ad_icon"> <a href="images/portfolio/04.jpg" data-rel="prettyPhoto[portfolio]" rel="prettyPhoto[portfolio]"> <i class="fa fa-search-plus"> </i> </a> </li>
                        <li class="ad_icon"> <a href="#details-single"> <i class="fa fa-link"> </i> </a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ad_carousel-column">
              <div class="ad_anim ad_anim-slide"> <a class="ad_preview" href="#details-single"> <img src="images/portfolio/01.jpg" alt="example image"> </a>
                <div class="ad_hover">
                  <div class="hover-wrapper">
                    <div class="text-wrapper">
                      <h4> Example 1 </h4>
                    </div>
                    <div class="icon-wrapper">
                      <ul>
                        <li class="ad_icon"> <a href="images/portfolio/01.jpg" data-rel="prettyPhoto[portfolio]" rel="prettyPhoto[portfolio]"> <i class="fa fa-search-plus"> </i> </a> </li>
                        <li class="ad_icon"> <a href="#details-single"> <i class="fa fa-link"> </i> </a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><div class="ad_carousel-column">
            <div class="ad_anim ad_anim-slide"> <a class="ad_preview" href="#details-single"> <img src="images/portfolio/02.jpg" alt="example image"> </a>
              <div class="ad_hover">
                <div class="hover-wrapper">
                  <div class="text-wrapper">
                    <h4> Example 2 </h4>
                  </div>
                  <div class="icon-wrapper">
                    <ul>
                      <li class="ad_icon"> <a href="images/portfolio/02.jpg" data-rel="prettyPhoto[portfolio]" rel="prettyPhoto[portfolio]"> <i class="fa fa-search-plus"> </i> </a> </li>
                      <li class="ad_icon"> <a href="#details-single"> <i class="fa fa-link"> </i> </a> </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div><div class="ad_carousel-column" >
            <div class="ad_anim ad_anim-slide"> <a class="ad_preview" href="#details-single"> <img src="images/portfolio/03.jpg" alt="example image"> </a>
              <div class="ad_hover">
                <div class="hover-wrapper">
                  <div class="text-wrapper">
                    <h4> Example 3 </h4>
                  </div>
                  <div class="icon-wrapper">
                    <ul>
                      <li class="ad_icon"> <a href="images/portfolio/03.jpg" data-rel="prettyPhoto[portfolio]" rel="prettyPhoto[portfolio]"> <i class="fa fa-search-plus"> </i> </a> </li>
                      <li class="ad_icon"> <a href="#details-single"> <i class="fa fa-link"> </i> </a> </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <!--ad_carousel -->
        </div>
        <!-- ad_carousel-wrap -->
        <div class="clearfix"></div>
      </div>
      <!-- ad_portfolio-widget -->
    </div>

  </article>


</div>
